@use "../../utilities/mixins";
.main-contact {
  grid-template-areas:
    "banner banner banner banner"
    "img-section img-section img-section img-section"
    "info-contact info-contact info-contact info-contact"
    "icon-whatsapp-contact icon-mobile-contact icon-instagram-contact icon-linkedin-contact"
    "contact-form contact-form contact-form contact-form";
  .info-contact {
    grid-area: info-contact;
    text-align: center;
  }
  .icon-blocks {
    @include mixins.flex-center;
  }
  .icon-whatsapp-contact {
    grid-area: icon-whatsapp-contact;
  }
  .icon-mobile-contact {
    grid-area: icon-mobile-contact;
  }
  .icon-instagram-contact {
    grid-area: icon-instagram-contact;
  }
  .icon-linkedin-contact {
    grid-area: icon-linkedin-contact;
  }
  .contact-form {
    grid-area: contact-form;
    text-align: center;
  }
  @include mixins.grid-mobile(4, auto, 10px) {
  }
}
