@use "../utilities/extend";
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
  margin-top: 50px;
  background-color: black;
}

.footer-content {
  @extend %flex-two-columns;
}
