//Colores
$color-ed: #fff790;
//sombras
$sombra-tarjetas: 0 0 10px rgba(0, 0, 0, 0.1);
$sombra-botones: 0 5px 5px rgba(0, 0, 0, 0.2);
//Tamaños
$tamano-titulo: 2rem;
//Breakpoints
$breakpoint-mobile: 430px;
// $breakpoint-tablet: 768px;
// $breakpoint-desktop: 1024px;
