/*Fuente Inter*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Estilos Globales*/
body {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  font-weight: 700;
  font-size: 22px;
}
p {
  font-family: "Inter", sans-serif;
  line-height: 25px;
}

.bg-navbar-propio {
  background-color: #ffffff;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  background-color: black;
  color: white;
  grid-area: banner;
}

.banner h1 {
  color: #fbff79;
  margin-bottom: 20px;
}

.banner p {
  text-align: center;
  padding: 0px 50px;
}

.button-web {
  margin: 15px 0px;
}

.button {
  background-color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin: 30px 0px;
  cursor: pointer;
  color: #fbff79;
}

.button a {
  color: #fbff79;
  text-decoration: none;
}

.button:hover {
  background-color: #fbff79;
  color: black;
}

.button a:hover {
  color: black;
  font-weight: 700;
}

.icon-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-blocks img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: black;
}

/*página inicio*/
.main-inicio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "banner banner"
    "historia-inicio historia-inicio "
    "mis-proyectos-inicio portafolio-inicio";
  grid-template-rows: 200px;
  gap: 30px;
}

.historia-inicio {
  grid-area: historia-inicio;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 20px;
}

.mis-proyectos-inicio {
  grid-area: mis-proyectos-inicio;
  margin-left: 20px;
}

.portafolio-inicio {
  grid-area: portafolio-inicio;
  margin-right: 20px;
}

/*Página Sobre mi*/
.main-sobre-mi {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "banner banner"
    "img-sobre-mi img-sobre-mi"
    "quien-soy-sobre-mi mis-intereses-sobre-mi"
    "mis-metas-sobre-mi mis-metas-sobre-mi";
  grid-template-rows: 200px;
  gap: 30px;
}

.img-sobre-mi {
  grid-area: img-sobre-mi;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-sobre-mi img {
  width: 600px;
  height: 200px;
  object-fit: cover;
}
.quien-soy-sobre-mi {
  grid-area: quien-soy-sobre-mi;
  margin: 0 80px;
}

.mis-intereses-sobre-mi {
  grid-area: mis-intereses-sobre-mi;
  margin: 0 80px;
}

.mis-metas-sobre-mi {
  grid-area: mis-metas-sobre-mi;
  margin: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.mis-metas-sobre-mi img {
  width: auto;
  height: 500px;
  object-fit: cover;
}

/*Página Servicios*/
.main-services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "banner banner banner banner"
    "img-section img-section img-section img-section"
    "que-puedo-ofrecer-services que-puedo-ofrecer-services que-puedo-ofrecer-services que-puedo-ofrecer-services"
    "icon-service-one icon-service-two icon-service-three icon-service-four"
    "lo-que-estoy-aprendiendo-services lo-que-estoy-aprendiendo-services lo-que-estoy-aprendiendo-services lo-que-estoy-aprendiendo-services"
    "lo-que-viene-services lo-que-viene-services lo-que-viene-services lo-que-viene-services";
  grid-template-rows: 200px;
  gap: 10px;
}

.img-section {
  grid-area: img-section;
}

.img-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.que-puedo-ofrecer-services {
  grid-area: que-puedo-ofrecer-services;
  margin: 20px 80px;
  text-align: center;
}

.icon-service-one {
  grid-area: icon-service-one;
}
.icon-service-two {
  grid-area: icon-service-two;
}
.icon-service-three {
  grid-area: icon-service-three;
}
.icon-service-four {
  grid-area: icon-service-four;
}

.lo-que-estoy-aprendiendo-services {
  grid-area: lo-que-estoy-aprendiendo-services;
  margin: 20px 80px;
  text-align: center;
}
.lo-que-viene-services {
  grid-area: lo-que-viene-services;
  margin: 20px 0px;
  text-align: center;
}
.lo-que-viene-services p {
  margin-top: 10px;
  margin-bottom: 20px;
}
.lo-que-viene-services img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*Página Portafolio*/
.main-portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "banner banner banner"
    "img-section img-section img-section"
    "proyectos-en-wordpress-porfolio proyectos-en-wordpress-porfolio proyectos-en-wordpress-porfolio"
    "portfolio-one portfolio-two portfolio-three";
  gap: 10px;
  margin-bottom: 50px;
}

.proyectos-en-wordpress-porfolio {
  grid-area: proyectos-en-wordpress-porfolio;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.portfolio-list {
  margin: 0px 30px;
  text-align: center;
}
.portfolio-one {
  grid-area: portfolio-one;
}
.portfolio-two {
  grid-area: portfolio-two;
}
.portfolio-three {
  grid-area: portfolio-three;
}
/* Contacto */
.main-contact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "banner banner banner banner"
    "img-section img-section img-section img-section"
    "info-contact info-contact info-contact info-contact"
    "icon-whatsapp-contact icon-mobile-contact icon-instagram-contact icon-linkedin-contact"
    "contact-form contact-form contact-form contact-form";
  gap: 20px;
}

.img-section {
  grid-area: img-section;
}

.info-contact {
  grid-area: info-contact;
  text-align: center;
}

.icon-whatsapp-contact {
  grid-area: icon-whatsapp-contact;
}
.icon-mobile-contact {
  grid-area: icon-mobile-contact;
}
.icon-instagram-contact {
  grid-area: icon-instagram-contact;
}
.icon-linkedin-contact {
  grid-area: icon-linkedin-contact;
}
.contact-form {
  grid-area: contact-form;
  text-align: center;
}
.btn-color-propio {
  background-color: black;
  color: #fbff79;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.btn-color-propio:hover {
  background-color: #fbff79;
  color: black;
}
/*Mobile*/
@media (max-width: 430px) {
  /*desde cero hasta 430px*/
  /*Página de Inicio*/
  .main-inicio {
    grid-template-columns: 1fr;
    grid-template-areas:
      "banner"
      "historia-inicio"
      "mis-proyectos-inicio"
      "portafolio-inicio";
    gap: 10px;
  }
  .historia-inicio img {
    width: 100%;
    height: auto;
  }
  .historia-inicio {
    flex-direction: column;
    text-align: center;
    margin: 0px 20px;
  }
  .mis-proyectos-inicio {
    text-align: center;
    margin: 0px 20px;
  }
  .mis-proyectos-inicio img {
    width: 100%;
    height: auto;
  }
  .portafolio-inicio {
    margin: 0px 20px;
    text-align: center;
  }
  .portafolio-inicio img {
    width: 100%;
    height: auto;
  }

  /*Página Sobre mi*/
  .main-sobre-mi {
    display: grid;
    grid-template-columns: 430px;
    grid-template-areas:
      "banner"
      "img-sobre-mi"
      "quien-soy-sobre-mi"
      "mis-intereses-sobre-mi"
      "mis-metas-sobre-mi";
    gap: 10px;
  }

  .img-sobre-mi img {
    width: auto;
    height: 150px;
  }
  .quien-soy-sobre-mi {
    margin: 0 0px;
    text-align: center;
  }

  .mis-intereses-sobre-mi {
    margin: 0 10px;
    text-align: center;
  }
  .mis-metas-sobre-mi {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .mis-metas-sobre-mi img {
    width: 430px;
    height: auto;
    object-fit: cover;
  }
  /*Página Servicios*/
  .main-services {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "banner banner"
      "img-section img-section"
      "que-puedo-ofrecer-services que-puedo-ofrecer-services"
      "icon-service-one icon-service-two"
      "icon-service-three icon-service-four"
      "lo-que-estoy-aprendiendo-services lo-que-estoy-aprendiendo-services"
      "lo-que-viene-services lo-que-viene-services";
    gap: 20px;
  }
  .que-puedo-ofrecer-services {
    margin: 20px 20px;
  }
  .icon-service-one {
    margin-left: 20px;
  }
  .icon-service-two {
    margin-right: 20px;
  }
  .icon-service-three {
    margin-left: 20px;
  }
  .icon-service-four {
    margin-right: 20px;
  }
  .lo-que-estoy-aprendiendo-services {
    margin: 20px 20px;
  }
  .lo-que-viene-services {
    margin: 20px 20px;
  }

  /*Página Portafolio*/
  .main-portfolio {
    grid-template-columns: 1fr;
    grid-template-areas:
      "banner"
      "img-section"
      "proyectos-en-wordpress-porfolio"
      "portfolio-one"
      "portfolio-two"
      "portfolio-three";
    gap: 10px;
  }
  .portfolio-list {
    margin-bottom: 40px;
  }
  .img-section img {
    height: 200px;
  }
}

/* @media (min-width: 431px) and (max-width: 768px) { /*desde 431px hasta 768px
  
} */

/* @media (min-width: 769px) and (max-width: 1024px) { /*desde 769px hasta 1024px
  
} */
