/*Fuente Inter*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Estilos Globales*/
body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2rem;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
@media (max-width: 430px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
  margin-top: 50px;
  background-color: black;
}

main {
  padding: 5px;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.card-container-ed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 430px) {
  .card-container-ed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}

.card-ed {
  text-align: center;
  width: 400px;
  padding: 10px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.card-ed h4 {
  margin: 8px 0;
  font-size: 25px;
  font-weight: 700;
}

.button, .button-portafolio {
  background-color: black;
  color: #fff790;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}
.button:hover, .button-portafolio:hover {
  background-color: #fff790;
  color: black;
}

.button-portafolio {
  background-color: #fff790;
  color: black;
}
.button-portafolio:hover {
  background-color: black;
  color: #fff790;
}

.btn-color-propio {
  background-color: black;
  color: #fff790;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.btn-color-propio:hover {
  background-color: #fff790;
  color: black;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  background-color: rgb(0, 0, 0);
  grid-area: banner;
}
.banner h1 {
  color: #fff790;
  margin-bottom: 20px;
}
.banner p {
  color: white;
  text-align: center;
  padding: 0px 50px;
}

.icon-blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px;
  gap: 10px;
}

.img-section {
  grid-area: img-section;
}
.img-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.main-inicio {
  grid-template-areas: "banner banner banner banner" "historia-inicio historia-inicio historia-inicio historia-inicio" "mis-proyectos-inicio mis-proyectos-inicio portafolio-inicio portafolio-inicio";
}
.main-inicio .historia-inicio {
  grid-area: historia-inicio;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  gap: 20px;
  margin: 0 20px;
}
.main-inicio .mis-proyectos-inicio {
  grid-area: mis-proyectos-inicio;
  margin-left: 20px;
}
.main-inicio .portafolio-inicio {
  grid-area: portafolio-inicio;
  margin-right: 20px;
}
@media (max-width: 430px) {
  .main-inicio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin: 0 10px;
    text-align: center;
    grid-template-areas: "banner" "historia-inicio" "mis-proyectos-inicio" "portafolio-inicio";
  }
  .main-inicio .historia-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
  }
  .main-inicio .historia-inicio img {
    width: 100%;
    height: auto;
  }
  .main-inicio .mis-proyectos-inicio {
    margin-left: 0px;
  }
}
@media (max-width: 430px) and (max-width: 430px) {
  .main-inicio .mis-proyectos-inicio img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 430px) {
  .main-inicio .portafolio-inicio {
    margin-right: 0px;
  }
}
@media (max-width: 430px) and (max-width: 430px) {
  .main-inicio .portafolio-inicio img {
    width: 100%;
    height: auto;
  }
}

.main-sobre-mi {
  grid-template-areas: "banner banner banner banner" "img-sobre-mi img-sobre-mi img-sobre-mi img-sobre-mi" "quien-soy-sobre-mi quien-soy-sobre-mi mis-intereses-sobre-mi mis-intereses-sobre-mi" "mis-metas-sobre-mi mis-metas-sobre-mi mis-metas-sobre-mi mis-metas-sobre-mi" "conclusion-sobre-mi conclusion-sobre-mi conclusion-sobre-mi conclusion-sobre-mi";
}
.main-sobre-mi .img-sobre-mi {
  grid-area: img-sobre-mi;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.main-sobre-mi .img-sobre-mi img {
  width: 600px;
  height: 200px;
  object-fit: cover;
}
.main-sobre-mi .quien-soy-sobre-mi {
  grid-area: quien-soy-sobre-mi;
  margin: 0 80px;
}
.main-sobre-mi .mis-intereses-sobre-mi {
  grid-area: mis-intereses-sobre-mi;
  margin: 0 80px;
}
.main-sobre-mi .mis-metas-sobre-mi {
  grid-area: mis-metas-sobre-mi;
  margin: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  text-align: center;
  text-align: center;
  gap: 10px;
}
.main-sobre-mi .mis-metas-sobre-mi img {
  width: 1400px;
  object-fit: cover;
}
.main-sobre-mi .conclusion-sobre-mi {
  grid-area: conclusion-sobre-mi;
  margin: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  text-align: center;
  gap: 40px;
}
@media (max-width: 430px) {
  .main-sobre-mi {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin: 0 10px;
    text-align: center;
    grid-template-areas: "banner" "img-sobre-mi" "quien-soy-sobre-mi" "mis-intereses-sobre-mi" "mis-metas-sobre-mi" "conclusion-sobre-mi";
  }
  .main-sobre-mi .img-sobre-mi img {
    width: auto;
    height: 150px;
  }
  .main-sobre-mi .quien-soy-sobre-mi {
    margin: 0px;
  }
  .main-sobre-mi .mis-intereses-sobre-mi {
    margin: 0px;
  }
  .main-sobre-mi .mis-metas-sobre-mi {
    margin: 0px;
  }
}
@media (max-width: 430px) and (max-width: 430px) {
  .main-sobre-mi .mis-metas-sobre-mi img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 430px) {
  .main-sobre-mi .conclusion-sobre-mi {
    margin: 0px;
  }
}

.main-servicios {
  grid-template-areas: "banner banner banner banner" "img-section img-section img-section img-section" "que-puedo-ofrecer-services que-puedo-ofrecer-services que-puedo-ofrecer-services que-puedo-ofrecer-services" "icon-service-one icon-service-two icon-service-three icon-service-four" "lo-que-estoy-aprendiendo-services lo-que-estoy-aprendiendo-services lo-que-estoy-aprendiendo-services lo-que-estoy-aprendiendo-services" "lo-que-viene-services lo-que-viene-services lo-que-viene-services lo-que-viene-services";
}
.main-servicios .img-section {
  grid-area: img-section;
}
.main-servicios .img-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main-servicios .que-puedo-ofrecer-services {
  grid-area: que-puedo-ofrecer-services;
  margin: 20 80px;
  text-align: center;
}
.main-servicios .icon-service-one {
  grid-area: icon-service-one;
}
.main-servicios .icon-service-two {
  grid-area: icon-service-two;
}
.main-servicios .icon-service-three {
  grid-area: icon-service-three;
}
.main-servicios .icon-service-four {
  grid-area: icon-service-four;
}
.main-servicios .lo-que-estoy-aprendiendo-services {
  grid-area: lo-que-estoy-aprendiendo-services;
  margin: 20px 80px;
  text-align: center;
}
.main-servicios .lo-que-viene-services {
  grid-area: lo-que-viene-services;
  margin: 20px 0px;
  text-align: center;
}
.main-servicios .lo-que-viene-services p {
  margin-top: 10px;
  margin-bottom: 20px;
}
.main-servicios .lo-que-viene-services img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 430px) {
  .main-servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin: 0 10px;
    text-align: center;
    grid-template-areas: "banner banner" "img-section img-section" "que-puedo-ofrecer-services que-puedo-ofrecer-services" "icon-service-one icon-service-two" "icon-service-three icon-service-four" "lo-que-estoy-aprendiendo-services lo-que-estoy-aprendiendo-services" "lo-que-viene-services lo-que-viene-services";
  }
  .main-servicios .lo-que-estoy-aprendiendo-services {
    margin: 20px 20px;
  }
}

.main-portfolio {
  grid-template-areas: "banner banner banner banner" "img-section img-section img-section img-section" "proyectos-en-wordpress-porfolio proyectos-en-wordpress-porfolio proyectos-en-wordpress-porfolio proyectos-en-wordpress-porfolio" "card-container-ed card-container-ed card-container-ed card-container-ed";
}
.main-portfolio .proyectos-en-wordpress-porfolio {
  grid-area: proyectos-en-wordpress-porfolio;
  text-align: center;
  margin: 50px 0px 40px 0px;
}
.main-portfolio .portfolio-list {
  margin: 0px 30px;
  text-align: center;
}
.main-portfolio .card-container-ed {
  grid-area: card-container-ed;
}
@media (max-width: 430px) {
  .main-portfolio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin: 0 10px;
    text-align: center;
    grid-template-areas: "banner" "img-section" "proyectos-en-wordpress-porfolio" "card-container-ed" "card-container-ed" "card-container-ed";
  }
  .main-portfolio .card-container-ed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
  }
}

.main-contact {
  grid-template-areas: "banner banner banner banner" "img-section img-section img-section img-section" "info-contact info-contact info-contact info-contact" "icon-whatsapp-contact icon-mobile-contact icon-instagram-contact icon-linkedin-contact" "contact-form contact-form contact-form contact-form";
}
.main-contact .info-contact {
  grid-area: info-contact;
  text-align: center;
}
.main-contact .icon-blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.main-contact .icon-whatsapp-contact {
  grid-area: icon-whatsapp-contact;
}
.main-contact .icon-mobile-contact {
  grid-area: icon-mobile-contact;
}
.main-contact .icon-instagram-contact {
  grid-area: icon-instagram-contact;
}
.main-contact .icon-linkedin-contact {
  grid-area: icon-linkedin-contact;
}
.main-contact .contact-form {
  grid-area: contact-form;
  text-align: center;
}
@media (max-width: 430px) {
  .main-contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin: 0 10px;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
